//
// Variables
//

// Sprite
$sprite-image: ../images/global-sprite;

// Typography


// Colors


// Neat variables
$max-width: 1200px;
$grid-colums: 13;

// Breakpoints
$desktop: 1000px;
$tablet: 700px;
$mobile-large: 500px;